<div class="d-flex position-fixed h-100 w-100">
    <div style="position: relative; min-width: 260px; max-width: 260px">
        <div style="position: absolute;">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <div style="position: relative; flex:1">
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
            style="overflow-y: scroll;">
            <div class="container-fluid py-4">
                <h1 class="text-center">Mis posts</h1>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-xs-12">
                        <div class="row col-4 p-3">
                            <button class="btn btn-warning w-100" (click)="clickNewPost()">Nuevo post</button>
                        </div>
                    </div>
                </div>

                <form #newPost2="ngForm" role="form" id="frmregistrar" method="post" (ngSubmit)="createPost(newPost2.value)">
                <div class="row justify-content-center" *ngIf="isCreating">
                        <div class="col-lg-6 col-xs-12">
                            <div class="card p-3 mb-2">
                                <div class="d-flex justify-content-between px-3">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="col-2 pt-2" style="width: fit-content;">
                                            <img src="{{currentUser.imageUrl}}" class="rounded-circle"
                                                style="height: 60px; width: 60px; object-fit: contain; background: #333;">
                                        </div>
                                        <div class="ms-2 c-details justify-content-end">
                                            <h6 class="mb-0">{{currentUser.userName}}</h6>
                                            <p class="small mb-0">{{newPost?.publicationDate}}</p>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="mt-2 row">
                                    <div class="col-12 px-5">
                                        <input type="text" class="form-control required" name="title" id="title"
                                            placeholder="Ingresa el titulo" ngModel>
                                            <textarea class="form-control" name="content" id="content"
                                            rows="2" placeholder="Ingresa el contenido" ngModel></textarea>
                                            <input type="text" class="form-control required" name="imageUrl" id="imageUrl"
                                            placeholder="Ingresa la url de tu imagen" ngModel>
                                    </div>
                                    <div class="d-flex justify-content-end col-12 px-5">
                                        <button class="btn btn-secondary col-4 mx-2"
                                        (click)="cancel()">Cancelar</button>
                                        <button class="btn btn-success col-4 "
                                        type="submit">Postear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div *ngIf="posts.length ==0" class="d-flex justify-content-center align-items-center text-center"
                    style="height: 50vh;">
                    <h2>No existen posts</h2>
                </div>
                <div class="row justify-content-center" *ngFor="let p of posts">
                    <div class="col-lg-6 col-xs-12">
                        <div class="card p-3 mb-2">
                            <div class="d-flex justify-content-between px-3">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="col-2 pt-2" style="width: fit-content;">
                                        <img src="{{p.user?.imageUrl}}" class="rounded-circle"
                                            style="height: 60px; width: 60px; object-fit: contain; background: #333;">
                                    </div>
                                    <div class="ms-2 c-details justify-content-end">
                                        <h6 class="mb-0">{{p.user?.userName}}</h6>
                                        <p class="small mb-0">{{p.publicationDate?.slice(0,10)}}, {{p.publicationDate?.slice(11,19)}}</p>
                                    </div>                                    
                                </div>
                                <div class="dropdown px-3">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      Opciones
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><button class="dropdown-item" (click)="deletePost(p)">Eliminar post</button></li>
                                    </ul>
                                </div>
                                
                            </div>
                            <div class="mt-2 row">
                                <div class="col-8 px-5">
                                    <h3 class="heading">{{p.title}}</h3>
                                    <div class="row">
                                        <div class="container">{{p.content}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-5 py-2 justify-content-center">
                                <img src="{{p.imageUrl}}" style="width: auto;">
                            </div>
                            <div class="row px-5 text-bold mt-3 mb-2">
                                Comentarios
                            </div>
                            <div class="px-5" *ngIf="p.comments?.length == 0">No existen comentarios</div>
                            <ul class="no-bullets px-5">
                                <li *ngFor="let com of p.comments">
                                    <div class="row" style="font-size: small;">
                                        <div class="col-2 pt-2" style="width: fit-content;">
                                            <img src="{{com.user?.imageUrl}}" class="rounded-circle"
                                                style="height: 40px; width: 40px; object-fit: contain; background: #333;">
                                        </div>
                                        <div class="col-10">
                                            <div class="card p-2 px-3 mt-2"
                                                style="width: fit-content; background: #ddd;">
                                                <strong>{{com.user?.userName || "User"}}</strong>
                                                {{com.content}}
                                            </div>
                                            <div class="text-xs mx-2 text-start">{{com.publicationDate?.slice(0,10)}}, {{com.publicationDate?.slice(11,19)}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row px-5 py-2 justify-content-center">
                                <div class="col-12">
                                    <textarea #commentContent class="form-control" id="exampleFormControlTextarea1"
                                        rows="2" placeholder="Ingresa tu comentario" ngModel></textarea>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-success col-4 mt-1"
                                        (click)="postComment(p,commentContent.value)">Comentar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>