<!-- <app-navbar></app-navbar> -->
<main class="main-content mt-0 ps">
  <section>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">
                  Bienvenido
                </h3>
                <p class="mb-0">
                  Ingresa tus credenciales
                </p>
              </div>
              <div class="card-body">
                <form #loginDTO="ngForm" role="form" method="post" action="#" (ngSubmit)="login(loginDTO.value)">
                  <label for="id_username">Usuario</label>
                  <div class="mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Usuario" autocapitalize="none"
                      autocomplete="username" maxlength="150" required="" id="id_username" ngModel>
                  </div>
                  <label for="id_password">Contraseña</label>
                  <div class="mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Contraseña" required=""
                      id="id_password" ngModel>
                  </div>
                  <p class="">
                    <a href="/accounts/password-reset/" class="text-primary">Olvidaste tu contraseña?</a>
                  </p>
                  <div class="text-center">
                    <button type="submit" class="btn bg-gradient-info w-100 mt-1 mb-0">Ingresar</button>
                    <p class="mt-4">
                      Aun no tienes una cuenta?
                      <a href="accounts/register/" class="text-primary">Registrate</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                style="background-image:url('/assets/curved6.jpg')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
  </div>
  <div class="ps__rail-y" style="top: 0px; right: 0px;">
    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
  </div>
</main>
<app-footer></app-footer>